{% extends "base.html" %}
{% load static %}

{% block left-content  %}
<div class="col-md-9 pl-5" id="Entry">
    <h1 class="text-center">
        О проекте
    </h1>
    <p class="lead pb-3 mt-5">        
        Уже довольно давно я заметил - на примере себя, своих друзей, родственников и знакомых - что в современном мире люди
        очень часто не могут найти свои жизненные ориентиры, понять что им нужно, взять на свои плечи ответственность за дело и довести его до конца. 
        Все мы сейчас просто утопаем в хаосе и проблема неопределенности в нашем мире стоит очень остро. Зачастую людям не хватает для ее решения сил и знаний.
        На протяжении своего пути я тоже очень часто с ней сталкиваюсь, и раньше, за неимением этих самых знаний я просто пускал все на самотек.

        Джордан Бернт Питерсон - канадский клинический психолог, профессор психологии, и влиятельная медийная личность. Именно он и его лекции пытаются дать людям тот необходимый
        каждому современному человеку теоретический багаж, который поможет не погрязть в хаосе, нигилизме, запутанности и неопределенности нашего мира.
        Его идеи пригодятся каждому молодому человеку, который хочет понять чего он хочет от жизни и как может этого достичь. 
        
        Данный проект создан с той целью, чтобы каждый русскоязычный слушатель смог получить к доступ к этой важной и драгоценной информации.
    </p>
    <div class="text-center">
        <img src="url{% static 'blog/JP.jpeg' %}">
    </div>
</div>
{% endblock left-content %}