{% extends "base.html" %}
{% load static %}

{% block left-content  %}
<div class="col-md-9 pl-5" id="Entry">
    <h1 class="text-center">
        Связаться
    </h1>
    <p class="lead pb-3 mt-5">
        Если у вас есть какие-либо предложения или советы, можете со мной связаться:
    </p>
    <p class="lead pb-3 mt-5">
        Группа vk - https://vk.com/club192882367
        Мой vk - https://vk.com/id212181644
        Моя почта - alex223666@gmail.com
    </p>
</div>
{% endblock left-content %}